cat > .gitignore << EOF
__pycache__\
*.py[code]
*$py.class

# virtual environment
venv/
.venv/
.virt/
env/
.env/
ENV/

# Django stuff:
*.log
media/
staticfiles/
*.sqlite3

# IDEs / macOS
.vscode/
.idea/
.DS_Store
EOF
